.front {
    font-family: 'Press Start 2P' !important;
    font-size: 1.2rem;
    display: flex;          /* Flexbox for easy centering */
    flex-direction: column; /* Stacks elements vertically */
    align-items: center;    /* Centers horizontally */
    justify-content: center;/* Centers vertically */
    height: 100vh;          /* Full viewport height for vertical centering */
    text-align: center;
}

body {
    background-color: rgb(226, 238, 255)!important;
}

.container {
    position: relative;
}

img {
    width: 100%;
    height: 370px;
    object-fit: contain;
}
.fa-solid.fa-circle-xmark {
    position: absolute;
    align-items: end;
    right: 20px;
    top: 10px;
    font-size: 27px;
    color: rgb(244, 141, 141);
    cursor: pointer;

}

h5{
    font-family: 'Press Start 2P' !important;
    display: flex;         
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    text-align: justify;
    height: 50vh;
}

#mail-container{
    margin: auto;
    margin-top: 12%;
    width: 50%;
    height: 450px;
    padding: 40px;
    padding-top: 30px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px ;
    background-color: white;
    z-index: 0;
    position: relative;
}

.sender-receiver{
    border-bottom: 2px solid;
    font-family: "Libre Baskerville";
    padding: 3px;
}

.sender-receiver span {
    font-weight: 700
}

.attachment{
    position: relative;
    align-items: center;
    display: flex;         
    flex-direction: column; /* Stacks elements vertically */
    align-items: center;    /* Centers horizontally */
    justify-content: center;        
    text-align: center;
    height: 30vh;
    font-family: "Libre Baskerville";
    font-size: 1.5rem;
    color: #0000EE;
    text-decoration: underline;
    

}

#click{
    cursor: pointer !important;
}


#input-box{
    margin: auto;
    margin-top: 12%;
    width: 35%;
    height: 300px;
    padding: 40px;
    padding-top: 50px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px ;
    background-color: white;
    z-index: 0;
    position: relative;
}



#circle {
    position: absolute;
    top: -20px;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background-color: red;
    z-index: 888;
    left: 62%;
    color: white;
    font-family: 'Press Start 2P' !important;
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;

}

input {
    position: relative;
    width: 200px;
    border-radius: 10px;
    border-color: black;
    padding-left: 20px;

}


@media (max-width: 754px) {
    .container {
      flex-direction: column;
      padding: 1rem;
    }
    .front {
        font-size: 0.6rem;

        height: 70vh;          /* Full viewport height for vertical centering */
        text-align: justify;
    }
    #input-box{
        margin-top: 30%;
        width: 60%;
        height: 200px;

    }
    #circle {
        top: 125px;
        height: 25px;
        width: 25px;
        left: 67%;
        color: white;
        font-size: 0.7rem;
        text-align: center;
        line-height: 25px;
    
    }
    .sender-receiver{
       font-size: 15px;
    }
    #mail-container{
        width: 70%;
        height: 400px;
        padding: 30px;

    }
    .attachment{
        font-size: 1rem;
        
    
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    h5{
        font-size: 18px!important;
    }
     input {
    
        width: 150px;

  }

  }
